@import "../../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.headerBg {
  color: $white;
  background: url("/header.png");
  height: 80vh;
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .flex {
    padding: 2rem;
  }

  .headerh1 {
    font-size: $h1;
    text-align: center;
    margin: 1rem;
  }

  h2 {
    display: none;
    text-align: center;
    font-size: $h2;
  }

  span {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-top: solid $white 3px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .width {
    width: 20%;
    margin: 0rem 2rem;
  }
  .headerBg {
    height: 60vh;

    .displayNone {
      display: none;
    }

    .headerh1 {
      font-size: 100px;
    }

    h2 {
      display: block;
    }

    span {
      width: 20%;
      margin: 2rem auto;
    }
  }
}
