@import "../../utils/variables";
.about {
  padding: 2rem 0rem;
  background: url("/about-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  p {
    padding: 1rem;
    font-size: $p;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
  }
}

@media screen and (min-width: 1500px) {
  .about {
    padding: 6rem;
  }
}
