@import "../../utils/variables";
.about {
  padding: 2rem 0rem;
  background-color: rgb(235, 235, 235);
  p {
    font-size: $paragraph;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
  }
}

@media screen and (min-width: 1500px) {
  .about {
    padding: 6rem;
  }
}
