@import "../../utils/variables";
.cart {
  display: flex;
  border-radius: 200px;
  background-color: $black;
  .cartText {
    color: white;
    margin-left: 0.5rem;
  }

  .btn {
    position: relative;
    background-color: $black;
    border: none;
    .cartItems {
      position: absolute;
      top: 5px;
      left: 55px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      font-size: 15px;
      padding: 3px;
      line-height: 15px;
      text-align: center;
      color: rgb(255, 255, 255);
      background-color: rgb(249, 93, 122);
      transition: transform 200ms ease-in-out 0s;
      transform: scale(1);
    }
  }

  button {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;

    span {
      font-size: 1.2rem;
    }
  }
  button:hover {
    color: yellow;
  }
}

@media screen and (min-width: 1310px) {
  .cartItems {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0px;
    font-size: 15px;
    padding: 3px;
    line-height: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 93, 122);
    position: absolute;
    transition: transform 200ms ease-in-out 0s;
    transform: scale(1);
  }
}
