.table {
  text-align: left;
  margin-top: 2rem;

  input {
    font-size: 18px;
    padding: 5px;
    width: 80%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
