@import "../utils/variables";

// Globala CSS klasser.

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
}

.active {
  a {
    color: yellow !important;
  }
}

.text-color {
  color: $blue;
}

.carousel-slider {
  margin: 2rem auto 0rem auto !important;
  width: 300px !important;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.permFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    align-self: center;
    margin-left: 0.5rem;
  }
}

.italic {
  font-style: italic;
}

.rounded {
  border-radius: 500px;
}

.lightButton,
.darkButton {
  margin: 1rem auto;
  width: 90%;
  background-color: $white-beige;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
  border: none;
  font-size: $p;

  a {
    text-decoration: none;
    color: $white;
  }
}

.darkButton:hover {
  color: yellow;
  cursor: pointer;
}

.darkButton {
  background-color: $black;
  color: $white;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .darkButton {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .flex {
    flex-direction: row;
  }

  .carousel-slider {
    margin: 0 auto !important;
    width: 800px !important;
  }

  .flexCol {
    flex-direction: column;
  }
}
