@import "../utils/variables";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif !important;
}

.text-color {
  color: $blue;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    align-self: center;
    margin-left: 0.5rem;
  }
}

.italic {
  font-style: italic;
}

.rounded {
  border-radius: 500px;
}

.lightButton,
.darkButton {
  margin: 1rem auto;
  width: 50%;
  background-color: $white-beige;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
  border: none;
  font-size: $paragraph;
}

.darkButton {
  background-color: $black;
  color: $white;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .flex {
    flex-direction: row;
  }

  .flexCol {
    flex-direction: column;
  }
}
