@import "../../utils/variables";

.scrollTop {
  font-size: 50px;
  border-radius: 20px;
  background-color: $black;
  color: white;
  position: fixed;
  bottom: 20px;
  padding: 0.2rem;
  border: none;
  right: 20px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .scrollTop {
    bottom: 50px;
    right: 50px;
  }
}
