@import "../../utils/variables";

.header {
  .search {
    color: $black;
    background-color: #ebe9e9;
    padding: 5rem 0rem;
  }

  .commonQuestions {
    padding: 3rem 0.5rem;
  }

  input {
    display: block;
    margin: 1rem auto 0rem auto;
    padding: 10px 10px;
    font-size: 20px;
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    input {
      width: 40%;
      padding: 20px 30px;
      font-size: 25px;
    }
  }
}
