@import "../../utils/variables";

.gridItem {
  -webkit-box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.75);
  margin: 2rem;
  text-align: center;
  padding: 0.5rem;

  .flex {
    display: block;
  }

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.4rem;
  }

  button {
    display: block;
  }

  img {
    padding-bottom: 1rem;
  }

  .pb {
    padding-bottom: 2rem;
  }

  .pt {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .gridItem {
    width: 30%;

    .flex {
      display: flex;
    }
  }
}
