.header {
  margin: 2rem 0rem;

  .cart {
    text-align: center;
    .bookItem {
      margin: 2rem auto;
      background-color: rgb(219, 219, 219);
      border: solid 1px black;
      padding-bottom: 1rem;
      width: 350px;
      .bookData {
        text-align: center;

        hr {
          margin: 1rem;
        }
        .price {
          margin-top: 2rem;
          font-weight: bold;
          span:nth-child(1) {
            margin-top: 1rem;
          }
        }
      }
    }
    h2 {
      font-size: 40px;
      text-align: center;
    }
    hr {
      margin: 3rem auto;
    }
  }

  .payment {
    display: block;
    text-align: center;

    form {
      margin: 2rem 0rem;
      display: inline-block;
      text-align: left;

      label {
        input {
          border: solid 1px rgb(141, 141, 141);
          border-radius: 5px;
          font-size: 18px;
          padding: 10px;
          margin-bottom: 0.8rem;
          font-weight: bold;
        }
      }
      .checkoutBtn {
        cursor: pointer;
        background-color: white; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        border: solid 1px black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: ease-in 0.3s;
        &:hover {
          border: solid 1px white;
          color: white;
          background-color: #4caf50;
        }
      }
    }
  }
}
@media screen and (min-width: 1310px) {
  .header {
    .cart {
      .bookItem {
        justify-content: space-around;
        span {
          align-self: flex-end;
        }
        .bookData {
          .price {
            justify-content: space-between !important;
            span:nth-child(1) {
            }
          }
        }
      }
      h2 {
      }
      hr {
      }
    }

    .payment {
      form {
        label {
          input {
          }
        }
        .checkoutBtn {
          &:hover {
          }
        }
      }
    }
  }
}
