@import "../../utils/variables";

.footer {
  color: $white;
  border-top: solid 0.5rem $lightblue;
  background-color: $black;

  p,
  h1 {
    text-align: center;
    line-height: 40px;
  }

  .footerItem {
    width: 100%;
    margin: 5rem 0;
  }

  .blueBg {
    background-color: #272727;
  }
}
