@import "../../utils/variables";

.footer {
  color: $white;
  border-top: solid 0.5rem $lightblue;
  background-color: $black;

  .footerItem {
    margin: 5rem;

    p,
    h1 {
      text-align: center;
    }
  }
}
