//Colors
$black: #363636;
$white: #fff;
$white-beige: #f3f8f2;
$lightblue: #adc1e3;
$blue: #405e8d;

//Font-size MOBILE
$p: 24px;
$h1: 45px;
$h2: 30px;
$h3: 25px;
$h4: 20px;

//Font-size WIDE
$pwide: 31.2px;
$h1wide: 58.5px;
$h2wide: 39px;
$h3wide: 32.5px;
$h4wide: 26px;
